<nav>
  <ul class="flex py-2 border-b-2 mb-4">
    <li class="mr-6"><a href="/">Home</a></li>
    <li class="mr-6"><a href="/about">About</a></li>
    <li class="mr-6"><span class="cursor-pointer" id="toggleDarkMode">Toggle Dark mode</span></li>
  </ul>
</nav>